# heading 1
## heading 2
### heading 3
#### headiong 4
#### heading 5
*italic type of font*

**bold type of fontstyle**

***both bold and italic***

[google](https://www.google.com/)

![Tajmahal](https://media.istockphoto.com/photos/taj-mahal-sunrise-picture-id155096944?b=1&k=20&m=155096944&s=170667a&w=0&h=tRXBwL73kuVdP_cwt3ZcfN4oc1wW7jJyl-JhZK3jMd4=)


::grinning::

::smiley::

Name | Roll no
--------|------
Python|20

In [3]:
## python basics

In [2]:
## variables

In [4]:
## variables are used to store values

In [5]:
a=10
print(a)

10

In [6]:
b=20.5
print(b)

20.5

In [7]:
c="name"
print(c)

name

In [8]:
## single variable can store multiple values
a=1,2,3,4,5,6,7,8,9,10
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [10]:
## values of variables can change at any time
b=20
b=30
b=40
b=50
b=60
print(b)

60

In [11]:
## Multiple variables can have same value
a=20
b=20
c=20
d=20
print(a,b,c,d)

20 20 20 20

In [12]:
## we can assign multiple values to multiple variables at a time
a,b,c,d,e=10,20,30,40,50
print(a)
print(b)
print(c)
print(d)
print(e)

10
20
30
40
50

In [19]:
## Rules to declare variables in python
## Variables are casesensitive
a=10
print(B)

NameError: name 'B' is not defined

In [20]:
## variable must startwith either capital or small alphabet

In [21]:
## variable cannot start with a number
1a=20
print(1a)

SyntaxError: invalid syntax (<ipython-input-21-9eb4075c50db>, line 2)

In [22]:
a1=20
print(a1)

20

In [24]:
## variable cannot be created starting with special character

In [25]:
$a=20
print($a)

SyntaxError: invalid syntax (<ipython-input-25-7e25926d6b11>, line 1)

In [26]:
a$=20
print(a$
     )

SyntaxError: invalid syntax (<ipython-input-26-ea2550323aa2>, line 1)

In [27]:
a_=30
print(a_)

30

In [28]:
## Datatypes

In [29]:
## Integer,float,string
## Integer-- int 
## float-- float
## string-- str

In [30]:
a=20
print(type(a))

<class 'int'>

In [31]:
b=30.65
print(type(b))

<class 'float'>

In [32]:
## string are the collection of charcters enclosed with either
## single quotes or double quotes
## charcter means either alpabets or numbers or special charcs
## or combination of all

In [33]:
a="abcd"
print(type(a))

<class 'str'>

In [34]:
b="123456"
print(type(b))

<class 'str'>

In [35]:
c="@#$%^"
print(type(c))

<class 'str'>

In [36]:
d="abcd123@#$%"
print(type(d))

<class 'str'>

In [37]:
e=""
print(type(e))

<class 'str'>

In [38]:
## Type casting
## converting from one datatype to another

In [41]:
## converting an integer to float
a=30
print(type(a))
a=float(a)
print(type(a))
print(a)

<class 'int'>
<class 'float'>
30.0

In [44]:
## converting an integer to string
s=50
print(type(s))
s=str(s)
print(type(s))
print(s)

<class 'int'>
<class 'str'>
50

In [47]:
## converting float to integer
b=20.5
print(type(b))
b=int(b)
print(type(b))
print(b)

<class 'float'>
<class 'int'>
20

In [48]:
## converting float to string
a=3.48
a=str(a)
print(type(a))
print(a)

<class 'str'>
3.48

In [49]:
## converting string to integer
a="abcdef"
a=int(a)
print(a)

ValueError: invalid literal for int() with base 10: 'abcdef'

In [51]:
b="123456"
b=int(b)
print(b)
print(type(b))

123456
<class 'int'>