In [1]:
## keywords in python

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
## operators in python

In [5]:
## Arithematic operators
## are used to perform mathematical calculations
## +,-,*,/,//,%,**

In [17]:
a=10
b=10
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

20
0
100
1.0
1
0
10000000000

In [12]:
20/2
20//2
20%2

0

In [15]:
4**4

256

In [16]:
10**10

10000000000

In [18]:
## Assignment operators
## these operators are used to assign values to variables

In [19]:
## =,+=,-=,*=,/=,//=,%=,**=

In [26]:
a=10
print(a)
a+=20 # a=a+20
print(a)
a-=10 # a=a-10 # a =30-10
print(a)
a*=10 # a=a*10
print(a)
a/=10 # a=a/10
print(a)
a//=10 # a=a//10
print(a)
a%=10 # a=a%10
print(a)
a**=10 # a=a**10
print(a)

10
30
20
200
20.0
2.0
2.0
1024.0

In [27]:
## comparison operators
## used to compare two values
## >,<,>=,<=,==,!=

In [33]:
a=150
b=100
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

True
False
True
False
False
True

In [34]:
## Logical operators
## These operators are used to check the relation
## and,or,not

In [37]:
a=150
b=300
if a>b and a>10:
    print(True)
else:
    print(False)

False

In [38]:
## example for or logical operator
a=200
b=300
if a<b or b>400:
    print(True)
else:
    print(False)

True

In [41]:
## example for not logical operator
a=100
if not a>200:
    print(True)
else:
    print(False)

True

In [42]:
## membership operators
## to check whether the element is there or not
## in ,not in

In [45]:
a=[1,2,3,4,5,6,7]
if 10 in a:
    print(True)
else:
    print(False)

False

In [46]:
b=[12,13,14,15,16]
if 18 not in b:
    print(True)
else:
    print(False)

True

In [1]:
## conditional statements
## if ,else and elif 
## if is used to check the condition
## if part fails
## then else part gets executed
## elif is used to check the second condition

In [4]:
if 21%2==0:
    print(True)
else:
    print(False)

False

In [3]:
21%2

1

In [5]:
## elif is used to check the second condition
a=20
b=30
c=40
if a>b and a>c:
    print(a,"is the biggest number")
elif b>a and b>c:
    print(b,"is the biggest number")
else:
    print(c,"is the biggest number")

40 is the biggest number

In [6]:
## if a equals to 10 or b equals to 10 return True
## or their sum equals to 10 return True
## otherwise return False

In [9]:
a=5
b=10
sum=a+b
if a==10 or b==10 or sum==10:
    print(True)
else:
    print(False)

False

In [10]:
## input() is the method to take input dynamically
## int(input()) -> integers
## input() -> strings
## float(input())

In [16]:
a=int(input("Enter any number "))
print(a)

Enter any number 14
14

In [19]:
b=input("Enter any string ")
print(b)
print(type(b))

Enter any string 124578
124578
<class 'str'>

In [22]:
c=float(input("Enter any number "))
print(c)

Enter any number 74
74.0

In [23]:
## check whether the given number divisible by 4 or not
## Take the input dynamically

In [25]:
n=int(input("Enter any number "))
if n%4==0:
    print(True)
else:
    print(False)

Enter any number 46
False

In [26]:
## check the given number is even or odd
## take the input dynamically
## if it is even number print 1 as output
## otherwise print 0 as output

In [28]:
n=int(input("Enter any number "))
if n%2==0:
    print(1)
else:
    print(0)

Enter any number 4
1

In [ ]:
## Loops
## repetition purpose
## the statement gets executed until the condition fails

In [29]:
## if you want print 100 numbers
## for,while loop

In [30]:
## for iterative variable in range(st range,end range+1):
##      statements

In [33]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [35]:
for i in range(1,101):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [36]:
## print numbers 10 to 1 using for loop
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [37]:
## print numbers from 50 to 20 using for loop
for i in range(50,19,-1):
    print(i,end=" ")

50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20

In [38]:
## print numbers 1 to 20 by skipping 1 number
## 1 3 5 7 9 11 13 15 17 19
for i in range(1,21,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [39]:
## print numbers from 30 to 1 skipping by 2
## 30 27 24 21 18 .....

In [40]:
## print even numbers in between range 1 to 20
for i in range(1,21):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [42]:
## check whether the given year is leap year or not
year=int(input("Enter any year "))
if((year%400==0)or(year%4==0 and year%100!=0)):
    print(year,"is an leap year")
else:
    print(year,"Not a leap year")

Enter any year 2001
2001 Not a leap year

In [43]:
## print leap years from 2000 to 2020
for i in range(2000,2021):
    if((i%400==0)or(i%4==0 and i%100!=0)):
        print(i,end=" ")

2000 2004 2008 2012 2016 2020